Ejemplo_webService/WebContent/wsdl/Oracle_conexion.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://oraclecon.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://oraclecon.com" xmlns:intf="http://oraclecon.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://oraclecon.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="obtieneDepto">
    <complexType>
     <sequence>
      <element name="empleado" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="obtieneDeptoResponse">
    <complexType>
     <sequence>
      <element name="obtieneDeptoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="obtieneDeptoResponse">

      <wsdl:part element="impl:obtieneDeptoResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="obtieneDeptoRequest">

      <wsdl:part element="impl:obtieneDepto" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="Oracle_conexion">

      <wsdl:operation name="obtieneDepto">

         <wsdl:input message="impl:obtieneDeptoRequest" name="obtieneDeptoRequest"/>

         <wsdl:output message="impl:obtieneDeptoResponse" name="obtieneDeptoResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="Oracle_conexionSoapBinding" type="impl:Oracle_conexion">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="obtieneDepto">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="obtieneDeptoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="obtieneDeptoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="Oracle_conexionService">

      <wsdl:port binding="impl:Oracle_conexionSoapBinding" name="Oracle_conexion">

         <wsdlsoap:address location="http://localhost:9080/Ejemplo_webService/services/Oracle_conexion"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
